.home_btn {
  display: flex;
  gap: 14px;
  width: 212.42px;
  height: 63px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: transparent;
  }
}

.homeh1 {
  background: transparent;
}

.homepagec {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.home_right {
  height: 712px;
  width: 668px;
  background: transparent;
}

.home_left {
  margin-top: 100px;
  background: transparent;
}

#homepage {
  background: transparent;
}

img {
  background: transparent;
}
