/* Footer.css */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 120px;
  color: #333;
  background: none;
}

.column {
  flex: 1;
  margin-right: 10px;
  background: none;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  background: none;
}

.sub-logos {
  display: flex;
  flex-direction: column;
  background: none;
}

.sub-logo {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
  background: none;
}

ul {
  background: none;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  background: none;
  font-size: 0.8rem;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 10px;
  background: none;
}

p {
  background: none;
  font-size: 0.8rem;
}
.ftsmall {
  background: none;
  margin: 24px 0;
}

.ftlogo {
  display: flex;
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  background: none;
  justify-content: space-between;
}

.lgn {
  background: none;
  color: #4a3aff;
}

.lg {
  margin-right: 80px;
}

.hlo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9dbe9;
  border-radius: 50%;

  width: 90%;
  height: 2px;
  margin: 0 auto; /* Center the line horizontally */
}

#hlop {
}

.hloup {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  height: 67px;
  margin: 0 auto; /* Center the line horizontally */
}

.hlpbg {
  background: none;
  color: #6f6c90;
}
.spc {
  color: #4a3aff;
  background: none;
}
