.dw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.dwh {
  display: flex;
  justify-content: center;
  text-align: center;
  background: transparent;
  color: #000742;
}

.dwlogo {
  width: 212.42px;
  height: 62.76px;
  margin-top: 25.1px;
  background: none;
}
.ddw {
  gap: 1rem;
  display: flex;
  background: none;
}

.dwapp {
  margin-top: 75.5px;
  width: 1083px;
}
#sdw {
  background: rgb(201, 225, 253);
  background: linear-gradient(
    180deg,
    rgba(201, 225, 253, 1) 0%,
    rgba(202, 226, 254, 1) 4%,
    rgba(246, 250, 255, 1) 90%
  );
}
