.navcon {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 0 10px; */
  /* height: 70px; */
  /* background-color: #fff; */

  /* position: fixed; */
}

.navcenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  background-color: #fff;
  gap: 60px;
}
.navsp {
  color: black;
  /* margin-right: 15px;
  margin-left: 15px; */
  text-decoration: none;
}

.r-btn {
  color: white;
}
